body {
	font-family: Arial; /*Шрифт*/
	font-size: 16pt; /*Розмір шрифту*/
	background-color: #f0f0f0; /*Колір фону сторінки*/
	color: #87CEEB; /*Колір тексту*/ 
}
.im {
	color: #FF0000; /*Колір іменника*/
}
.pr {
	color: #006400; /*Колір прикметника*/
}
.di {
	color: #8B8B83 /*Колір дієслова*/